#rcorners {
    border-radius: 25px;
    border: 2px solid #25198A;
    padding: 20px; 
    height: auto;
    width: 100%;
	}

body {
font-family: Helvetica;
margin: 0;
padding:0;
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color:#0000FF;
}

a:hover {
   color:#5050FF;
}

header {
    background-color: rgb(37, 25, 138);
    color:white;
    text-align:center;
    padding:1px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float: right;
    padding:5px;	      
}

h2 {
  color: rgb(37, 25, 138);

  float: top;
     
}
#content {
    color: black;
    width:350px;
    padding:10px;
    margin: auto;
    margin-bottom: 20px;
 	 
}
footer {
    background-color:black;
    color:white;
    position: fixed;
    bottom: 0px;
    width: 100%;	 	 
}

.font_9 {
    font: normal normal normal 12px/1.4em 'open sans',sans-serif;
    color: #4A4848;
}

input.font_9 {
    border: 0;
    background-color: transparent;
    color:blue;
}

label {
    float: left;
    text-align: left;
    width: 123px;
}

textarea {
  height: 150px; 
  width: 300px;
}

td {
vertical-align: top;    
}

#globalmessage{
margin: auto;
width: 400px;

}

#globalmessage p {
background-color: #FB8888;
border: solid 2px red;
padding: 10px;
font-size: 12px;
font-weight: bold;
}